html, body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	
}

#main {
	margin:30px auto;
	padding:15px;
	border-radius:5px;
	border:0px solid;
	background: #CEAD1D;
}

#title {
	padding: 25px;
}

#img-div {

	background: #08C1B5;
	padding: 10px;
	margin: 20px;
}

#image {
	padding: 10px;
	width:50%;
	margin: auto;
  max-width:100%;
  display: block;
}

#tribute-info::before {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #08C1B5;
}

#tribute-info {
	padding-bottom: 10px;
}

ul {
	max-width:550px;
  	margin:0 auto;
  	text-align:left;
}

li {
	text-decoration: none;
	list-style: none;
	padding: 10px;
}

